<h3>File input as formControl</h3>

<form [formGroup]="form">
    <div class="form-control">
        <label for="">Title</label>
        <input type="text" name="title" id="title" formControlName="title">
    </div>
    <div class="form-control">
        <label for="">File</label>
        <lib-file-upload formControlName="file" inputId="file" fileName="Mapa de Remuneração"
            [showOpenFile]="false" accept=".xml,.xls,.xlsx,.csv" [multiple]="true">
        </lib-file-upload>
    </div>
</form>